menu "Robello Remo1"

menu "WiFi Settings"
config ESP_WIFI_SSID
    string "WiFi STA SSID"
    default ""
    help
    WiFi SSID (network name) to connect to or empty for Off.

config ESP_WIFI_PASSWORD
    string "WiFi STA Password"
    default ""
    help
    WiFi Password if WEP/WPA/WPA2 or empty if Open.
    
config ESP_MAXIMUM_RETRY
    int "Maximum retry"
    default 5
    help
    Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.

config ESP_WIFI_AP_SSID
    string "WiFi AP SSID"
    default "RobelloRemo1"
    help
	AP SSID (network name) to create or empty for Off.

config ESP_WIFI_AP_PASSWORD
    string "WiFi AP Password"
    default "RobelloRemo1"
    help
	AP password for WPA2 or empty for Open.

config SERVER_IP
    string "WiFi AP IP Address"
    default "192.168.4.1"
    help
    IP address that the ESP will assign to it's AP interface. You can use this IP to connect to the Remo1 after flashing.

config LWIP_LOCAL_HOSTNAME
    string "Local hostname"
    default "RobelloRemo1"
    help
    The hostname under which the camera will be accessible in the local network.
endmenu

menu "Client Settings"
config CLIENT_DHCP
    bool "WiFi DHCP"
    default y
    help
    The client address will be assigned by DHCP or manually.

config CLIENT_GATEWAY
    depends on CLIENT_DHCP
    string "WiFi Gateway Address"
    default "192.168.0.1"
    help
    Gateway.
    
config CLIENT_IP
    depends on CLIENT_DHCP
    string "WiFi IP Address"
    default "192.168.0.33"
    help
    IP address that the ESP will assign to it's interface.
    
config CLIENT_NETMASK
    depends on CLIENT_DHCP
    string "WiFi Netmask"
    default "255.255.255.0"
    help
    Netmask.

config CLIENT_DNS1
    depends on CLIENT_DHCP
    string "WiFi DNS 1 Address"
    default "0.0.0.0"
    help
    DNS 1.
    
config CLIENT_DNS2
    depends on CLIENT_DHCP
    string "WiFi DNS 2 Address"
    default "0.0.0.0"
    help
    DNS 2.
endmenu

menu "General Settings"
config REMO1_LED_INTENSITY
    int "Led intensity"
    range 0 255
    default 60
    help
    Led intensity.
endmenu

menu "mDNS Settings"
    config MDNS_ENABLED
        bool "mDNS Enabled"
        default y
        help
            Should mDNS be used

    config MDNS_INSTANCE
        depends on MDNS_ENABLED
        string "mDNS Instance Name"
        default "Robello Remo1 Web Server"
        help
            mDNS Instance Name to use
endmenu

menu "SNTP Configuration"
    config SNTP_ENABLED
        bool "Enable SNTP Time Synchronization"
        default y
        help
            Enable SNTP Time Synchronization.

    config NTP_SERVER
        depends on SNTP_ENABLED
        string "NTP Server"
        default "pool.ntp.org"
        help
            Choose a default ntp server.

    config TIMEZONE
        depends on SNTP_ENABLED
        string "Timezone"
        default "1"
        help
            For help see: https://www.gnu.org/software/libc/manual/html_node/TZ-Variable.html           
endmenu

endmenu
